---
import Layout from "../layouts/Layout.astro";
import slidesContent from "../slides.md?raw";
---

<Layout>
  <section data-markdown>
    <textarea data-template>
      {slidesContent}
    </textarea>
  </section>
</Layout>
